/*Elementos gerais*/
:root {
    --firstColor: hsl(202, 90%, 75%);
    --secondColor: hsl(202, 90%, 60%);
    --accentColor: hsl(187, 100%, 55%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Candara", "Trebuchet MS", "Serif", "Arial", "Times new Roman";
}

body {
    background-color: var(--firstColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    border: none;
}

button:hover {
    background-color: var(--accentColor);
    cursor: pointer;
}

/*Caixa inicial*/
#start-box {
    text-align: center;
    border-radius: 30px;
    background-color: var(--secondColor);
    width: 60vw;
    height: 75vh;
    margin: 12vh auto 1vh;
    padding: 5px;
}

#game-title {
    font-size: 3em;
    padding-top: 5%;
    letter-spacing: 1.5px;
    vertical-align: sub;
}

#start-game-button {
    font-size: xx-large;
    border-radius: 30px;
    height: 25%;
    width: 90%;
    margin-top: 30%;
}

/*Caixa principal - geral*/
#main-box {
    background-color: var(--secondColor);
    width: 90vw;
    height: fit-content;
    border-radius: 30px;
    margin: 12vh auto 1vh;
    padding: 2px;
}

/*Caixa principal - cabeçalho*/

/*Caixa principal - caixa de questões*/
#mute-audio {
    width: fit-content;
    height: 25%;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

/*Caixa de mensagens*/

/*Caixa final*/
#end-box {
    text-align: center;
    border-radius: 30px;
    background-color: var(--secondColor);
    width: 60vw;
    height: 75vh;
    margin: 12vh auto 1vh;
    padding: 5px;
}

#end-game-title {
    font-size: 3em;
    padding-top: 5%;
    letter-spacing: 1.5px;
    vertical-align: sub;
}

#end-game-message {
    text-align: center;
}

#end-box h3 {
    padding: 10px;
}

#restart-game-button {
    font-size: xx-large;
    border-radius: 30px;
    height: 25%;
    width: 90%;
}