/*Elementos gerais*/
:root {
    --firstColor: hsl(202, 90%, 75%);
    --secondColor: hsl(202, 90%, 60%);
    --accentColor: hsl(187, 100%, 55%);
}
* {
    margin: 0;
    padding: 0;
    font-family: "Candara", "Trebuchet MS", "Serif", "Arial", "Times new Roman";
}
body {
    background-image: url("../res/imgs/FundoMobile.png");
    background-repeat: repeat-y;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
}
button {
    border: none;
}
button:hover {
    background-color: var(--accentColor);
    cursor: pointer;
}
/*Caixas inicial e final*/
#start-box, #end-box {
    text-align: center;
    width: 75vw;
    height: 45vh;
    margin: 12vh auto 1vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#end-box {
    background-color: var(--firstColor);
    margin-top: 30vh;
    height: 90vh;
    border-radius: 30px;
}
#game-title, #end-game-title {
    font-size: 2em;
    padding-top: 5%;
    letter-spacing: 1.5px;
    vertical-align: sub;
}
#start-game-button, #restart-game-button {
    font-size: xx-large;
    border-radius: 30px;
    width: 90%;
    height: 25%;
    margin-top: 30%;
}
#end-game-message {
    text-align: center;
    padding: 3%;
    font-size: 1.4em;
    margin: auto;
}
#end-box h3 {
    padding: 2%;
    margin: auto;
}
/*Caixa principal*/
#main-box {
    background-color: var(--secondColor);
    width: 90vw;
    height: fit-content;
    border-radius: 30px;
    margin: 1vh auto 1vh;
    padding: 2px;
}
/*Elementos da caixa principal - cabeçalho*/
#main-box-header {
    border: 2px solid var(--accentColor);
    padding: 5px;
    margin: 2% 2% 1%;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#questionNumber {
    font-size: 1.2em;
}
#points {
    background-color: var(--accentColor);
    font-size: 1em;
    padding: 2px;
    border-radius: 15px;
}
#wrongAnswers {
    background-color: var(--accentColor);
    font-size: 1em;
    padding: 2px;
    border-radius: 15px;
}
#timer {
    background-color: var(--accentColor);
    font-size: 1.2em;
    padding: 4px;
    border-radius: 15px;
}
/*Elementos da caixa principal - caixa de questões*/
#question-box {
    border: 2px solid var(--accentColor);
    height: 90%;
    padding: 10px;
    margin: 2% 2%;
    border-radius: 30px;
}
#question-header {
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}
#question-title {
    font-size: 1.6em;
}
#question-body {
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% auto;
    padding: 5px;
    text-align: center;
}
/*Questões 1 e 2*/
#question-content {
    border-radius: 30px;
    padding: 10px;
    margin: 1%;
}
#question-content img:not(#mounted-perna-img) {
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 30px;
}
#question-footer {
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1%;
}
#question-footer-header {
    border-radius: 30px;
    padding: 5px;
}
#question-footer-title {
    font-size: 1.25em;
    text-align: center;
}
#question-footer-input {
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin: 1% auto;
}
#question-footer-input button:not(.invader-option):not(.native-option) {
    width: 85%;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    font-size: 1em;
}
#question-footer-input button img:not(.invader-option img):not(.native-option img) {
    width: 75%;
    margin: 2px;
    border-radius: 15px;
}
/*Questões 3 a 6*/

/*Questão 7*/
#mounted-perna-img {
    margin: 2%;
    width: 80%;
    border-radius: 30px;
}
#empty-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}
.empty-box {
    border: 2px solid var(--accentColor);
    border-radius: 15px;
    padding: 5px;
}
.empty-box:hover {
    cursor: grab;
}
#eb1 {
    width: 25%;
    margin-top: 18%;
}
#eb2 {
    width: 25%;
    margin-top: -15%;
    margin-left: 1%;
}
#eb3 {
    width: 25%;
    margin-top: 25%;
    margin-left: 1%;
}
.empty-box img {
    display: block;
    margin: auto;
}
.part-box {
    width: 40%;
    border: 2px solid var(--accentColor);
    border-radius: 15px;
    margin: 2%;
    padding: 5px;
    cursor: grab;
}
/*Questão 8*/
.invader-option, .native-option {
    border-radius: 15px;
    padding: 2px;
    margin: 0.25%;
    width: 40%;
}
.invader-option img, .native-option img {
    width: 100%;
    border-radius: 15px;
}
/*Caixa de mensagens*/
#message-box {
    background-color: var(--accentColor);
    position: fixed;
    width: 100vw;
    top: 40vh;
    height: fit-content;
    padding: 10px;
    text-align: center;
}
#message {
    font-size: 1.2em;
    margin: 5px auto;
}
/*Botão de áudio*/
#mute-audio {
    width: fit-content;
    height: 25%;
    border-radius: 15px;
    padding: 10px;
    margin: 1% auto;
}
#mute-audio img {
    border-radius: 15px;
}