.empty-box-outer {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    margin: auto;
}

.empty-box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: auto;
}